<div>
  <div>
    <h1>
      Quiz #<%= @the_quiz.id %> details
    </h1>

    <div>
      <div>
        <a href="/quizzes">
          Go back
        </a>
      </div>

      <dl>
        <dt>
          Topic
        </dt>
        <dd>
          <%= @the_quiz.topic %>
        </dd>

        <dt>
          Created at
        </dt>
        <dd>
          <%= time_ago_in_words(@the_quiz.created_at) %> ago
        </dd>

      </dl>
    </div>
  </div>

</div>

<hr>

<div>
  <div>
    <dl>
      <dt>system</dt>
      <dd>
        <p>You are a <%= @the_quiz.topic %> tutor. Ask the user five questions to assess their <%= @the_quiz.topic %> proficiency. Start with an easy question. After each answer, increase or decrease the difficulty of the next question based on how well the user answered.</p>

        <p>      In the end, provide a score between 0 and 10.</p>
      </dd>
      <dt>user</dt>
      <dd>
        <p>Can you assess my <%= @the_quiz.topic %> proficiency?</p>
      </dd>
      <dt>assistant</dt>
      <dd>
        <p>Absolutely, let's begin!</p>
      </dd>
    </dl>

  </div>
</div>
